*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    
}
body{
    background-color: #ffffff;
    font-family: 'Roboto';
}

.all_product_heading h1{
    font-size: 32px;
    font-weight: 700;
    color: green;
}
.all_product_search input{
    border: 2px solid #0743e6;
    border-radius: 20px;
    height: 40px;
    color: #000;
    padding: 0 10px 0 15px;
}
.all_product_search input::placeholder{
    color: green;
    font-size: 18px;
    letter-spacing: 2px;
}
.product{
  
  max-width: 300px;
}
.product a{
    text-decoration: none;
}
.product h3{
    font-size: 16px;
    min-width: 300px;
}
.product h5{
    font-size: 14px;
    color: #000;
}
.product h5 span{
    font-size: 20px;
    color: orangered;
    font-weight: 700;
}
.product_img img{
    max-width: 300px;
    height: 250px;
}

/* all product responsive */
@media(max-width:1200px){

    .product_list_responsive{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:576px){

    .product_list_responsive{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}